
/* HERO */
.hero {
    padding: 0;

}

/* Estrutura do SLIDE */
.hero .carousel {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;

}


.hero img {
    width: 100%;
    height: 100vh;
    position: absolute;
    inset: 0;
    display: block;
    object-fit: cover;
    z-index: 1;
}


.hero .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}


.hero .carousel-item::before {
    content: "";
    background: #000000a4;
    position: absolute;
    inset: 0;
    z-index: 2;
}


.hero .carousel-container {
    position: absolute;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    z-index: 3;
    inset: 0;
}

.hero h2 {
    color: white;
    font-size: 3rem;
}

.hero p {
    color: white;
    max-width: 60%;
    text-align: center;     
    margin-top: 1rem;
    font-size: 1.2rem;


}


/* Icones Setas Trocam Slides */
.hero .carousel-control-prev,
.hero .carousel-control-next {
    background: none;
    font-size: 2rem;
    line-height: 0;
    width: 10%;
    transition: 0.3s;
    opacity: 0.3;
}


/* destaque do icone clicado / opacidade */

.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
    opacity: 0.8;
    transition: 0.3s;
    line-height: 0;
}

.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
    opacity: 0.8;
    line-height: 0;
}


.carousel-indicators .active {
    background-color: rgb(38, 126, 240); /* cor do indicador ativo */
}










/* Call to Action*/

.cta {
    padding: 10rem 0;
    position: relative;
    clip-path: inset(0); /* Recorte */

}


.cta img {
    position: fixed;
    display: block;
    /*Posição*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    
    
}

.cta .container {
    position: relative;
    z-index: 3 ;
}

/* filtro na foto */

.cta::before {
    content: "";
    background: rgba(70, 70, 70, 0.116);
    position: absolute;
    inset: 0;
    z-index: 3;


}

.cta .cta-btn {
    font-size: 1.5rem;
    color: white;
    /* background-color: green; */
    text-decoration: none;
    padding: 0.5rem 2.5rem;
    border-radius: 0.8rem;
    margin: 2rem;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    font-weight: 400;
    border: 0.2rem solid white;
}

.cta .cta-btn:hover {
    background-color: green;
    transform: scale(1.1);
    border: none;
}


/* Fim Call to Action */

/* Fltros */

/* UL */
.portfolio-filters {
    list-style: none;
    margin: 10px auto 20px auto;
    text-align: center;

}    

/* Herança = Todas as Li's da ul */

.portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    /* background: rgba(33, 122, 255, 0.877); */
    color: rgba(33, 122, 255, 0.877);
    padding: 0rem 0.5rem;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

   
}

.portfolio-filters li:hover,
.portfolio-filters li.filter-active {
   
    /* filter: brightness(90%); */
    background: #0b75de ;
    color: rgb(255, 255, 255);
}

/* Fim Filtros */

/* O site em telas até 575px */
@media (max-width: 575px) {
    .portfolio-filters li {
        font-size: 1rem;

    }
}