
/* HERO */
.hero {
    padding: 0;

}

/* Estrutura do SLIDE */
.hero .carousel {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;

}


.hero img {
    width: 100%;
    height: 100vh;
    position: absolute;
    inset: 0;
    display: block;
    object-fit: cover;
    z-index: 1;
}


.hero .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}


.hero .carousel-item::before {
    content: "";
    background: #0000005a;
    position: absolute;
    inset: 0;
    z-index: 2;
}


.hero .carousel-container {
    position: absolute;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    z-index: 3;
    inset: 0;
}

.hero h2 {
    color: white;
    font-size: 3rem;
}

.hero p {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    /* font-family: ; */
    animation: fadeInDown 1s both;
    margin: 1rem 0 2rem 0;  
}




/* Call to Action*/

.cta {
    padding: 10rem 0;
    position: relative;
    clip-path: inset(0); /* Recorte */

}


.cta img {
    position: fixed;
    display: block;
    /*Posição*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    
    
}

.cta .container {
    position: relative;
    z-index: 3 ;
}

/* filtro na foto */

.cta::before {
    content: "";
    background: rgba(70, 70, 70, 0.116);
    position: absolute;
    inset: 0;
    z-index: 3;


}

.cta .cta-btn {
    font-size: 1.5rem;
    color: white;
    /* background-color: green; */
    text-decoration: none;
    padding: 0.5rem 2.5rem;
    border-radius: 0.8rem;
    margin: 2rem;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    font-weight: 400;
    border: 0.2rem solid white;
}

.cta .cta-btn:hover {
    background-color: green;
    transform: scale(1.1);
    border: none;
}