/* *

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../img/recep.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: rgb(255, 255, 255);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}       

h1 {
    color: #ffffff;
    text-align: center;
}   

p {

    line-height: 1.6;
    color: #ffffff;
}

a {
    color: #007BFF;
    text-decoration: none;
}   

a:hover {
    text-decoration: underline;
}   

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000000;
    color: #070505;
    position: fixed;
    width: 100%;
    bottom: 0;
}   

.navbar {
    margin-bottom: 20px;
}   

.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
}   

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}   
 */ 

/* Stats */


